[user]
    name = Ben Constable
    email = ben.constable@mediatonic.co.uk

[core]
    excludesfile = /Users/ben/.gitignore
[pull]
	ff = only
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
